@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

/*---------------------------------------------------- Miscellaneous stylings */

header {
    margin: 0;
}

/* Remove bullet points from lists by default. */

ul {
    list-style: disc;
}

/* Pull Home button in to align with left-hand side of screen.
.navbar-collapse {
    padding-left: 0;
}

.menu-bar {
    padding-left: 0;
}
/* Show bullet points for information panel text. */

.info {
    list-style: disc;
}

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

.panel-title {
    text-align: center;
    font-weight: bold;
}

.initial-introduction {
    display: normal;
}

/* ---------------------------------------------------- Tabs */

/* The Info tab is always enabled so show the tab title in black. */

#info {
    color: #000;
}

/* Disabling is done with JavaScript, but show the tabs titles in grey initially to indicate they are disabled. */
#routes, #markers {
    color: grey;
}


/*---------------------------------------------------- Routes / Markers tab controls */

#route-planner, #point-markers {
    padding-left: 0;
    margin-left: 0;
}

#departure-point, #destination-hospital, #travel-mode {
    margin-top: 5px;
    margin-left: 0;
}

.buttons-routes, .buttons-markers {
    margin-bottom: 10px;
}

.clear-map-btn {
    margin-top: 10px;
}

.btn-default {
    margin-left: 0;
    width: 120px;
}

#multi-routes-checkbox {
    margin-right: 10px;
    margin-top: 10px;
}

.checkbox {
    margin-top: 0;
    margin-left: 20px;
}

/*-------------------------------------------------- Font Awesome stylings */

.fa-home, .fa-atlas, .fa-info-circle, .fa-road, .fa-map-marker-alt {
    padding-right: 5px;
}

.fa-home, .fa-atlas {
    color: #000;
}

#home-menu-icon .fa-home:hover {
    color: #e84610;
}

/*-------------------------------------------------- Heading */

.page-title h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #fafafa;
    background-color: #676767;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

/*-------------------------------------------------- Navbar */

.navbar {
    margin-bottom: 5px;
    padding-left: -15px;
    padding-right: -15px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: medium;
}


/*-------------------------------------------------- About Page */

.about-heading {
    text-align: center;
    color: #337ab7;
}

/*-------------------------------------------------- Map panel */

.county-map {
    display: normal;
}

.county-map-image {
    width: 100%; 
    height: 100%; 
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
}

#map-canvas {
    width: 100%; 
    min-height: 650px;
    display: none;
}

/*-------------------------------------------------- Media Queries */

@media(max-width: 767px) {

    .page-title h1 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .campaigns {
        min-height: 100px;
        overflow-y: scroll;
    }

    .welcome, .local-news {
        margin: auto;
        margin-top: 15px;
        min-width: 100%;
    }

    .jumbotron {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
    
    ul {
        padding-left: 10px;
    }
    footer {
        margin-top: 20px;
    }
}

@media (min-width:768px) and (max-width:991px) {

    .news {
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        max-height: 500px;
        min-width: 680px;
    }
 
    .welcome, .local-news {
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        min-width: 100%;
    }

    .about-image {
        margin: auto;
        margin-top: 15px;
        min-width: 100%;
    }
    
    footer {
        margin-top: 20px;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    
    .about-image {
        margin: auto;
        margin-top: 15px;
        min-width: 100%;
    }
}
